# Backend Connection
NEXT_PUBLIC_API_URL=http://localhost:5005

# Database
MONGODB_URI=

# Security
JWT_SECRET=

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Admin Credentials
ADMIN_EMAIL=ogunwedebo21@gmail.com
ADMIN_PASSWORD=ogunwedebo21

# Cloudinary (Optional for uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
