# MongoDB Config
MONGODB_URI=

# JWT Secret
JWT_SECRET=

# Cloudinary Config
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Admin Initial Configuration
ADMIN_EMAIL=ogunwedebo21@gmail.com
ADMIN_PASSWORD=admin123
ADMIN_PHONE=08000000000

# Frontend Configuration (Next.js)
# In development, set this to http://localhost:5000
# In production, set this to your Render/Backend URL (e.g., https://api.quickwash.com)
NEXT_PUBLIC_API_URL=
