# Server Configuration
BACKEND_PORT=5005
FRONTEND_URL=http://localhost:3000

# Database
MONGODB_URI=mongodb://127.0.0.1:27017/quick-wash

# Security
JWT_SECRET=your-secret-key

# Mailer Config
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM="Quick-Wash Support" <support@quickwash.com>

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Default Admin
ADMIN_EMAIL=ogunwedebo21@gmail.com
ADMIN_PASSWORD=ogunwedebo21
